{{define "title"}} Homepage{{end}}

{{define "body"}} 
    <h1 class="text-[#ff4554] font-bold text-2xl py-4">New Reviews</h1>

    {{range .Reviews}}
        <div class="flex flex-col py-2">
            <div class="flex flex-row relative justify-between">
                <img src="" alt="review-img">
                Score:  {{.Score}}
            </div>
            Title: {{.Title}}
            Snippet: {{.Snippet}}
        </div>
    {{end}}

    <h1 class="text-[#ff4554] font-bold text-2xl py-4">New Articles</h1>
            {{range .Articles}}
        <div class="flex flex-col py-2">
            <img src="" alt="review-img">
            Title: {{.Title}}
            Snippet: {{.Snippet}}
        </div>
    {{end}}
{{end}}